.home-main-container{
    min-height: 100vh;
    min-width: 1250px;
    width:100%;
    display: flex;
    margin:0% auto;
    justify-content: space-between;
}

.home-sub-container{
    min-width: 1100px;
    width:calc(100% - 164px);
    border:1px solid #d6d9dc;
    box-sizing: border-box;
    padding: 24px;
}

.left-side-bar{
    transform: translateZ(0);
    box-sizing: border-box;
    /* box-shadow: 1px 1px 0 rgba(0,0,0,0.2); */
    width: 164px;
    padding-top: 10vh;

}

.main-bar{

    width:calc( 100% - 300px - 24px );
    float:left;
    margin:10px;
    padding: 10px;
}


.btn{
    background-color: #007ac6;
    border:1px solid #007ac6;
    color:white;
    padding:10px;
    text-decoration: none;
}